<Project>
  <PropertyGroup>
    <SteamPath>C:\Program Files (x86)\Steam</SteamPath>
    <BongoCatPath>$(SteamPath)\steamapps\common\BongoCat</BongoCatPath>
    <BongoCatSteamAppId>3419430</BongoCatSteamAppId>
  </PropertyGroup>
</Project>